@import '../../colors.scss';
@import '../../sizes.scss';


.form {
  width: $container-width;
  padding: 20px;
  border-radius: $radius-standard;
  background-color: rgba(0,0,0,0.35);

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &__email_container,
  &__captcha_container {
    margin-bottom: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  &__field_title {
    font-size: $font-big;
    margin: 0;
    margin-bottom: 0.2em;
  }

  &__links_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
  }

  &__link {
    color: $link-color;
    cursor: pointer;
  }

  &__submit {
    border: 0;
    border-radius: $radius-mini;
    padding: 5px 10px;
    background-color: $active-color;
    align-self: flex-end;
  }

  &__error {
    color: $error-color;
    min-height: $font-medium;
  }

  &__info {
    color: $info-color;
    min-height: $font-medium;
  }

  &__input {
    border-radius: $radius-mini;
    padding: 0.25em;
    border: 0;
  }
}
